<p id="notice"><%= notice %></p>

<h1>Listing Problem Statements</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @problem_statements.each do |problem_statement| %>
      <tr>
        <td><%= problem_statement.question %></td>
        <td><%= problem_statement.answer %></td>
        <td><%= link_to 'Show', problem_statement %></td>
        <td><%= link_to 'Edit', edit_problem_statement_path(problem_statement) %></td>
        <td><%= link_to 'Destroy', problem_statement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Problem statement', new_problem_statement_path %>
